Repository Sheev13/bnn_amort_inf: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, jupyter-nb-clear-output

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
-   repo: local
    hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      args:
        [
          "-rn", # Only display messages
          "-sn", # Don't display the score
        ]
-   repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
-   repo: https://github.com/psf/black
    rev: 22.8.0
    hooks:
      - id: black
        language_version: python3.9
-   repo: https://github.com/psf/black
    rev: 22.8.0
    hooks:
      - id: black-jupyter
        language_version: python3.9
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: ''  # Use the sha / tag you want to point at
    hooks:
    -   id: mypy
-   repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: jupyter-nb-clear-output
        files: \.ipynb$
        stages: [commit]
        language: system
        entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
    -   id: blacken-docs

implemented gridconvcnp, started debugging
  .gitignore
  bnn_amort_inf/models/np.py
  bnn_amort_inf/utils/dataset_utils.py
  bnn_amort_inf/utils/networks.py
  bnn_amort_inf/utils/training_utils.py
  notebooks/experiment_one.ipynb
  notebooks/experiment_two.ipynb
Due: pylint, jupyter-nb-clear-output

further progress with gridconvcnp debugging
  bnn_amort_inf/models/np.py
  bnn_amort_inf/utils/activations.py
  notebooks/experiment_two.ipynb
Due: pylint, jupyter-nb-clear-output

finished gridconvcnp
  bnn_amort_inf/models/np.py
  bnn_amort_inf/utils/dataset_utils.py
  bnn_amort_inf/utils/training_utils.py
  notebooks/experiment_two.ipynb
Due: pylint, jupyter-nb-clear-output

implemented residual conv blocks
  bnn_amort_inf/models/np.py
  bnn_amort_inf/utils/networks.py
  notebooks/experiment_two.ipynb
Due: pylint, jupyter-nb-clear-output

implemented unet and integration with convcnp
  bnn_amort_inf/models/np.py
  bnn_amort_inf/utils/networks.py
  notebooks/experiment_two.ipynb
Due: pylint, jupyter-nb-clear-output

finished experiment 2 implementation
  bnn_amort_inf/models/np.py
  bnn_amort_inf/utils/dataset_utils.py
  bnn_amort_inf/utils/networks.py
  bnn_amort_inf/utils/training_utils.py
  notebooks/experiment_two.ipynb
Due: pylint, jupyter-nb-clear-output

experiment 2 implementation finished up
  bnn_amort_inf/models/bnn/gibnn.py
  bnn_amort_inf/utils/training_utils.py
  notebooks/experiment_two.ipynb
Due: pylint, jupyter-nb-clear-output

used wessels nps to compare convcnps
  bnn_amort_inf/models/np.py
  bnn_amort_inf/utils/training_utils.py
  notebooks/experiment_one.ipynb
Due: pylint, jupyter-nb-clear-output

trying to get yandubs convcnp going
  .gitignore
  bnn_amort_inf/utils/training_utils.py
  notebooks/experiment_one.ipynb
Due: pylint, jupyter-nb-clear-output

Added likelihoods and updated experiemnt_two
  bnn_amort_inf/models/__init__.py
  bnn_amort_inf/models/bnn/bnn.py
  bnn_amort_inf/models/bnn/gibnn.py
  bnn_amort_inf/models/bnn/gibnn_layers.py
  bnn_amort_inf/models/bnn/mfvi_bnn.py
  bnn_amort_inf/models/likelihoods/__init__.py
  bnn_amort_inf/models/likelihoods/normal.py
  bnn_amort_inf/utils/training_utils.py
  notebooks/experiment_two.ipynb
Due: pylint, jupyter-nb-clear-output

got npf convcnp working
  bnn_amort_inf/models/bnn/gibnn.py
  bnn_amort_inf/utils/training_utils.py
  notebooks/experiment_one.ipynb
Due: pylint, jupyter-nb-clear-output

final touches to experiment 1 and convcnp
  bnn_amort_inf/models/np.py
  notebooks/experiment_one.ipynb
Due: pylint, jupyter-nb-clear-output

finalised experiment 2 MNIST notebook, fixed up neural process for bernoulli dist
  .gitignore
  bnn_amort_inf/models/bnn/bnn.py
  bnn_amort_inf/models/np.py
  bnn_amort_inf/utils/training_utils.py
  notebooks/experiment_two.ipynb
  notebooks/experiment_two_i.ipynb
Due: pylint, jupyter-nb-clear-output

celeba notebook working
  .gitignore
  bnn_amort_inf/models/np.py
  bnn_amort_inf/utils/activations.py
  bnn_amort_inf/utils/dataset_utils.py
  notebooks/experiment_two_ii.ipynb
Due: pylint, jupyter-nb-clear-output

Updated NP loss implementation
  bnn_amort_inf/models/bnn/gibnn.py
  bnn_amort_inf/models/bnn/gibnn_layers.py
  bnn_amort_inf/utils/dataset_utils.py
  bnn_amort_inf/utils/training_utils.py
Due: pylint

Updated experiments
  notebooks/experiment_one.ipynb
  notebooks/experiment_two.ipynb
Due: jupyter-nb-clear-output

Updated likelihoods
  bnn_amort_inf/models/likelihoods/__init__.py
  bnn_amort_inf/models/likelihoods/base.py
  bnn_amort_inf/models/likelihoods/bernoulli.py
  bnn_amort_inf/models/likelihoods/normal.py
Due: pylint

Restructing NP implementation
  bnn_amort_inf/models/bnn/gibnn.py
  bnn_amort_inf/models/np.py
  bnn_amort_inf/models/np/__init__.py
  bnn_amort_inf/models/np/base.py
  bnn_amort_inf/models/np/cnp.py
  bnn_amort_inf/models/np/convcnp.py
Due: pylint

Updated implementation for workshop paper
  bnn_amort_inf/__init__.py
  bnn_amort_inf/models/__init__.py
  bnn_amort_inf/models/bnn/bnn_layers.py
  bnn_amort_inf/models/bnn/gibnn.py
  bnn_amort_inf/models/bnn/gibnn_layers.py
  bnn_amort_inf/models/np/__init__.py
  bnn_amort_inf/models/np/convcnp.py
  bnn_amort_inf/models/np/mlg_convcnp.py
  bnn_amort_inf/utils/networks.py
  bnn_amort_inf/utils/training_utils.py
Due: pylint

Added workshop experiments
  notebooks/workshop_experiments.ipynb
Due: jupyter-nb-clear-output

fiddling with convcnps for image experiments
  bnn_amort_inf/models/np/convcnp.py
  bnn_amort_inf/utils/dataset_utils.py
  bnn_amort_inf/utils/training_utils.py
  notebooks/experiment_two_i.ipynb
  notebooks/workshop_experiments.ipynb
Due: pylint, jupyter-nb-clear-output

got MNIST experi working
  .gitignore
  bnn_amort_inf/models/likelihoods/normal.py
  bnn_amort_inf/models/np/convcnp.py
  bnn_amort_inf/utils/networks.py
  bnn_amort_inf/utils/training_utils.py
  notebooks/experiment_two_i.ipynb
  notebooks/workshop_experiments.ipynb
Due: pylint, jupyter-nb-clear-output

perfected MNIST experi, fixed gridconvcnp, got experi 2 going
  bnn_amort_inf/models/likelihoods/normal.py
  bnn_amort_inf/models/np/convcnp.py
  bnn_amort_inf/utils/training_utils.py
  notebooks/experiment_two_i.ipynb
  notebooks/experiment_two_ii.ipynb
  notebooks/workshop_experiments.ipynb
Due: pylint, jupyter-nb-clear-output

switched celeba to celeba64x64, got corresponding notebook working
  .gitignore
  bnn_amort_inf/models/bnn/gibnn.py
  bnn_amort_inf/models/np/convcnp.py
  notebooks/experiment_two_ii.ipynb
Due: pylint, jupyter-nb-clear-output

implemented image linear interpolator baseline
  bnn_amort_inf/utils/dataset_utils.py
  notebooks/experiment_two_ii.ipynb
Due: pylint, jupyter-nb-clear-output

improved normal likelihoods for image data
  bnn_amort_inf/models/likelihoods/normal.py
  bnn_amort_inf/models/np/convcnp.py
  notebooks/experiment_two_ii.ipynb
Due: pylint, jupyter-nb-clear-output

minor experimental changes
  bnn_amort_inf/utils/dataset_utils.py
  bnn_amort_inf/utils/training_utils.py
  notebooks/experiment_two_i.ipynb
  notebooks/experiment_two_ii.ipynb
Due: pylint, jupyter-nb-clear-output

minor architecture changes in experiment notebooks
  bnn_amort_inf/utils/training_utils.py
  notebooks/experiment_two_i.ipynb
  notebooks/experiment_two_ii.ipynb
Due: pylint, jupyter-nb-clear-output

extended Unet implementation to handle 1D data
  bnn_amort_inf/models/np/convcnp.py
  bnn_amort_inf/utils/networks.py
  notebooks/workshop_experiments.ipynb
Due: pylint, jupyter-nb-clear-output

implemented elbo experiment notebook
  bnn_amort_inf/utils/dataset_utils.py
  bnn_amort_inf/utils/networks.py
  notebooks/ELBO_experiment.ipynb
  notebooks/experiment_two_i.ipynb
Due: pylint, jupyter-nb-clear-output

very minor updates to POVI-BNN notebook
  notebooks/gip_bnn_experiments.ipynb
Due: jupyter-nb-clear-output

elbo experiment changes
  notebooks/ELBO_experiment.ipynb
Due: jupyter-nb-clear-output

minor changes to mnist experi notebook
  notebooks/experiment_two_i.ipynb
Due: jupyter-nb-clear-output

minor changes to gridconvcnp
  bnn_amort_inf/models/np/convcnp.py
  notebooks/experiment_two_i.ipynb
Due: pylint, jupyter-nb-clear-output

pulling hair out with convcnp
  bnn_amort_inf/models/np/convcnp.py
  bnn_amort_inf/utils/networks.py
  notebooks/workshop_experiments.ipynb
Due: pylint, jupyter-nb-clear-output

got convcnp off grid working
  bnn_amort_inf/models/np/convcnp.py
  notebooks/workshop_experiments.ipynb
Due: pylint, jupyter-nb-clear-output

extracted figures for 1d reg experi
  notebooks/workshop_experiments.ipynb
Due: jupyter-nb-clear-output

Update README.md
  README.md
Due: none

extracted results from ELBO experi
  notebooks/ELBO_experiment.ipynb
Due: jupyter-nb-clear-output

extracted img compleesh results
  bnn_amort_inf/utils/dataset_utils.py
  notebooks/experiment_two_i.ipynb
Due: pylint, jupyter-nb-clear-output
