Repository Sheev13/bnn_amort_inf: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, jupyter-nb-clear-output

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn

jupyter-nb-clear-output:
  name: jupyter-nb-clear-output
  stages:
  - commit
  language: system
  entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace

testing commit
  .pre-commit-config.yaml
  notebooks/amort_bnn_vs_np.ipynb
Due: jupyter-nb-clear-output

second test commit
  .pre-commit-config.yaml
  notebooks/amort_bnn_vs_np.ipynb
Due: jupyter-nb-clear-output

third test commit
  notebooks/amort_bnn_vs_np.ipynb
Due: jupyter-nb-clear-output

minor plotting changes
  notebooks/amort_bnn_vs_np.ipynb
Due: jupyter-nb-clear-output

fixed up neural process activations as well as plots
  bnn_amort_inf/models/np.py
  notebooks/amort_bnn_vs_np.ipynb
Due: pylint, jupyter-nb-clear-output

got amortised bnn on cubic dataset notebook working again
  notebooks/amort_bnn_cubic.ipynb
  notebooks/amort_bnn_vs_np.ipynb
Due: jupyter-nb-clear-output

got amort vs gip vs gp notebook working, debugged base gibnn
  bnn_amort_inf/models/gibnn/amortised_gibnn.py
  bnn_amort_inf/models/gibnn/gibnn.py
  notebooks/amort_bnn_vs_gip_vs_gp.ipynb
  notebooks/gip_bnn_experiments.ipynb
Due: pylint, jupyter-nb-clear-output

got gibnn notebook working
  notebooks/gip_bnn_experiments.ipynb
Due: jupyter-nb-clear-output

made a start on amortised mfvi bnn
  bnn_amort_inf/models/amortised_mfvi_bnn.py
Due: pylint

more work on amortised mfvi bnn
  bnn_amort_inf/models/amortised_mfvi_bnn.py
Due: pylint

Updated utils
  bnn_amort_inf/utils/dataset_utils.py
  bnn_amort_inf/utils/training_utils.py
Due: pylint

finished amortised mfvi bnn layer implementation
  bnn_amort_inf/models/amortised_mfvi_bnn.py
  notebooks/amort_bnn_vs_np.ipynb
Due: pylint, jupyter-nb-clear-output

implemented amortised mfvi bnn + notebook
  bnn_amort_inf/models/amortised_mfvi_bnn.py
  bnn_amort_inf/models/gibnn/amortised_gibnn.py
  bnn_amort_inf/models/gibnn/gibnn.py
  notebooks/amort_mfvi_bnn_tests.ipynb
Due: pylint, jupyter-nb-clear-output

Refactoring and updating notebooks
  .pre-commit-config.yaml
  bnn_amort_inf/models/__init__.py
  bnn_amort_inf/models/amortised_mfvi_bnn.py
  bnn_amort_inf/models/bnn/__init__.py
  bnn_amort_inf/models/bnn/bnn.py
  bnn_amort_inf/models/bnn/bnn_layers.py
  bnn_amort_inf/models/bnn/gibnn.py
  bnn_amort_inf/models/bnn/gibnn_layers.py
  bnn_amort_inf/models/bnn/mfvi_bnn.py
  bnn_amort_inf/models/gibnn/__init__.py
  bnn_amort_inf/models/gibnn/amortised_gibnn.py
  bnn_amort_inf/models/gibnn/gibnn.py
  bnn_amort_inf/utils/training_utils.py
  notebooks/.ipynb_checkpoints/amort_bnn_vs_np-checkpoint.ipynb
  notebooks/amort_bnn_vs_np.ipynb
  notebooks/amort_mfvi_bnn_tests.ipynb
  notebooks/gip_bnn_experiments.ipynb
Due: pylint, jupyter-nb-clear-output

fixed up notebooks, started train_gp util
  .pre-commit-config.yaml
  bnn_amort_inf/utils/training_utils.py
  notebooks/amort_bnn_cubic.ipynb
  notebooks/amort_bnn_vs_gip_vs_gp.ipynb
  notebooks/amort_bnn_vs_np.ipynb
  notebooks/amort_mfvi_bnn_tests.ipynb
  notebooks/gip_bnn_experiments.ipynb
Due: pylint, jupyter-nb-clear-output

implemented train_gp util
  bnn_amort_inf/utils/training_utils.py
  notebooks/amort_bnn_vs_gip_vs_gp.ipynb
Due: pylint, jupyter-nb-clear-output

experiment one progress, lots of gp stuff
  bnn_amort_inf/models/gp.py
  bnn_amort_inf/utils/gp_datasets.py
  notebooks/experiment_one.ipynb
Due: pylint, jupyter-nb-clear-output

implemented experiment one
  bnn_amort_inf/utils/dataset_utils.py
  bnn_amort_inf/utils/gp_datasets.py
  notebooks/amort_bnn_cubic.ipynb
  notebooks/experiment_one.ipynb
Due: pylint, jupyter-nb-clear-output

used matt's hypers + implemented gp for sawtooth
  notebooks/experiment_one.ipynb
Due: jupyter-nb-clear-output

changed training regime and added shade in plots
  bnn_amort_inf/models/gp.py
  bnn_amort_inf/utils/dataset_utils.py
  notebooks/experiment_one.ipynb
Due: pylint, jupyter-nb-clear-output

fixed up gp posteriors for sawtooth
  bnn_amort_inf/models/gp.py
  bnn_amort_inf/utils/dataset_utils.py
  notebooks/experiment_one.ipynb
Due: pylint, jupyter-nb-clear-output

changed noise level for datasets
  bnn_amort_inf/utils/dataset_utils.py
  bnn_amort_inf/utils/gp_datasets.py
Due: pylint

changed gp plotting
  notebooks/experiment_one.ipynb
Due: jupyter-nb-clear-output

latest plotting updates
  notebooks/experiment_one.ipynb
Due: jupyter-nb-clear-output

force low noise for laplacian GP
  notebooks/experiment_one.ipynb
Due: jupyter-nb-clear-output

agibnn np loss initial implementation
  bnn_amort_inf/models/bnn/gibnn.py
  bnn_amort_inf/models/bnn/gibnn_layers.py
  bnn_amort_inf/utils/training_utils.py
  notebooks/experiment_one.ipynb
Due: pylint, jupyter-nb-clear-output

amortised gibnn somewhat working under np loss
  bnn_amort_inf/models/bnn/gibnn.py
  notebooks/experiment_one.ipynb
Due: pylint, jupyter-nb-clear-output

fixed np_loss normalisation
  bnn_amort_inf/models/bnn/gibnn.py
  notebooks/experiment_one.ipynb
Due: pylint, jupyter-nb-clear-output

refactored CNP. Begun implementing ConvCNP
  bnn_amort_inf/models/np.py
  bnn_amort_inf/utils/networks.py
Due: pylint

further progress implementing convcnp
  bnn_amort_inf/models/np.py
  bnn_amort_inf/utils/networks.py
Due: pylint

remove old import in np.py
  bnn_amort_inf/models/np.py
Due: pylint

removed "interpolator" in np.py
  bnn_amort_inf/models/np.py
Due: pylint

finished convcnp implementation, started debugging
  bnn_amort_inf/models/np.py
  bnn_amort_inf/utils/networks.py
  notebooks/experiment_one.ipynb
Due: pylint, jupyter-nb-clear-output

ConvCNP implementation finished
  bnn_amort_inf/models/np.py
  notebooks/experiment_one.ipynb
Due: pylint, jupyter-nb-clear-output

improved convcnp hypers
  bnn_amort_inf/models/np.py
Due: pylint

setup experiment two notebook
  notebooks/experiment_one.ipynb
  notebooks/experiment_two.ipynb
Due: jupyter-nb-clear-output

final edit to init lengthscale for convcnp
  bnn_amort_inf/models/np.py
  notebooks/experiment_one.ipynb
Due: pylint, jupyter-nb-clear-output

begun on-grid convcnp
  bnn_amort_inf/models/np.py
  bnn_amort_inf/utils/networks.py
  notebooks/experiment_one.ipynb
Due: pylint, jupyter-nb-clear-output

Path conditions:
  pylint: any of: \.py$
  jupyter-nb-clear-output: any of: \.ipynb$
